[submodule "Copy-as-RTF.tmbundle"]
	path = Copy-as-RTF.tmbundle
	url = https://github.com/drnic/copy-as-rtf-tmbundle.git
[submodule "JSLint.tmbundle"]
	path = JSLint.tmbundle
	url = https://github.com/ppierre/jslint-tmbundle.git
[submodule "Whitespace.tmbundle"]
	path = Whitespace.tmbundle
	url = https://github.com/vigetlabs/whitespace-tmbundle.git
[submodule "Cucumber.tmbundle"]
	path = Cucumber.tmbundle
	url = https://github.com/aslakhellesoy/cucumber-tmbundle.git
[submodule "RSpec.tmbundle"]
	path = RSpec.tmbundle
	url = https://github.com/rspec/rspec-tmbundle.git
[submodule "Ruby-Haml.tmbundle"]
	path = Ruby-Haml.tmbundle
	url = https://github.com/mattpolito/ruby-haml.tmbundle.git
[submodule "Ruby-Sass.tmbundle"]
	path = Ruby-Sass.tmbundle
	url = https://github.com/charlesr/ruby-sass-tmbundle.git
[submodule "Ruby.tmbundle"]
	path = Ruby.tmbundle
	url = https://github.com/drnic/ruby-tmbundle.git
[submodule "Ruby-Shoulda.tmbundle"]
	path = Ruby-Shoulda.tmbundle
	url = https://github.com/drnic/ruby-shoulda-tmbundle.git
[submodule "JSON.tmbundle"]
	path = JSON.tmbundle
	url = https://github.com/textmate/json.tmbundle.git
[submodule "Git.tmbundle"]
	path = Git.tmbundle
	url = https://github.com/jcf/git-tmbundle.git
[submodule "Code-Beautifier.tmbundle"]
	path = Code-Beautifier.tmbundle
	url = https://github.com/mocoso/code-beautifier.tmbundle.git
[submodule "PhoneGap.tmbundle"]
	path = PhoneGap.tmbundle
	url = https://github.com/imhotep/PhoneGap.tmbundle.git
