[submodule "Copy-as-RTF.tmbundle"]
	path = Copy-as-RTF.tmbundle
	url = https://github.com/drnic/copy-as-rtf-tmbundle.git
[submodule "JSLint.tmbundle"]
	path = JSLint.tmbundle
	url = https://github.com/ppierre/jslint-tmbundle.git
[submodule "Whitespace.tmbundle"]
	path = Whitespace.tmbundle
	url = https://github.com/vigetlabs/whitespace-tmbundle.git
[submodule "Cucumber.tmbundle"]
	path = Cucumber.tmbundle
	url = https://github.com/aslakhellesoy/cucumber-tmbundle.git
[submodule "RSpec.tmbundle"]
	path = RSpec.tmbundle
	url = https://github.com/rspec/rspec-tmbundle.git
[submodule "Ruby-Haml.tmbundle"]
	path = Ruby-Haml.tmbundle
	url = https://github.com/mattpolito/ruby-haml.tmbundle.git
