<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>tow8ie-Utils</string>
  <key>uuid</key>
  <string>99EC5D6A-DDB3-4635-B35C-CF7BAAAF1D74</string>
</dict>
</plist>
